<!DOCTYPE html>
<html>
<head>
	<title></title>

<style type="text/css">
	a:link, a:visited{
	color: white;
	text-decoration-line: none;
}

button{
	background-color: blue;
	border-width: 0px;
	border-style: none;
	height: 25px;
}

</style>

</head>
<body style="text-align: center;">
<br>
<form action="/loginsubmit" method="get">
Username/email
<input type="text" name="email">
<br><br>Password<input type="password" name="pw">
<br>
<br>
<input type="submit" name="">
</form>
</body>
</html>